.VideoComponent{
    display: flex;
    margin-bottom: 10px;
   
}
.Image{
    width: 150px;
    cursor: pointer;
}
.VideoInfo{
    font-size: 14px;
    margin-left: 10px;
}
.VideoInfo>h4{
    height: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.VideoInfo>p{
    font-size: 12px;
}